<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Tracking</title>
    <link rel="icon" type="image/x-icon" href="/booktrackingapp/static/book_favicon.png">
</head>
<body>
<h1>Book Tracking App</h1>
<!--{{ books }}-->

<h2>List Of Books</h2>

<ul>
    {% for book in books %}
        <li>
            <form action="{% url'index' %}" method="post">
                {% csrf_token %}
                <p>Book: {{ book.name }}, Author: {{ book.author }}, Page-count: {{ book.pages }}</p>
                <p>Description: {{ book.description }}</p>

                <input type="hidden" name="book_id" value="{{ book.id }}">

              <label for="rating">Rating:</label>
                <select name="rating" id="rating">
                    <option value="1">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <label for="status">Statues:</label>
                <select name="status" id="status">
                    <option value="0">To Read</option>
                    <option value="1">In Progress</option>
                    <option value="2">Completed</option>
                    <option value="3">Did not finish</option>
                </select>

                <input type="submit" value="Enter">
                <p>&nbsp;</p>
            </form>
        </li>
    {% endfor %}
</ul>

<h2>Personal Stats</h2>
<p>Books Read: </p>
<p>Pages Read: </p>
<p>Average Rating: </p>

<h2>Personal Library</h2>

{{ user_books }}

</body>
</html>